<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Formulario de cadastro de Noticia</title>
</head>

<body>

	<h1>Adicionar noticia</h1>

	<br>

	<form action="/noticias/salvar" method="post">
		<label for="titulo">Título</label>
		<input type="text" id="titulo" name="titulo" placeholder="Título da notícia">
		<br>
		<label for="noticia">Notícia</label>
		<textarea name="noticia" id="noticia" placeholder="Noticia" cols="30" rows="10"></textarea>
		<br>
		<input type="submit" value="Enviar">
	</form>

</body>

</html>